 img {
    height : auto ;
    width : 500px;
    
    
}

div {
    text-align: center;
}

.title {
    text-align: center;
    
    font-weight: bold;
}



.descr{
    background-color:#CCD6A6 ;
    text-align: center;
}

.facts{
    background-color : #DAE2B6;
    text-align: center;
}

.ingr {
    background-color: #F4EAD5;
    text-align: center;
}

.dire {
    background-color : #FFFBE9;
    text-align: center;
}

body {
    background-color: #ADE792;
    
}

li {
    font-family: Georgia, 'Adobe Garamond Pro', Times, serif;
}